:root {
  --num-grid-columns: 3;
}

@media (max-width: 768px) {
  :root {
    --num-grid-columns: 2;
  }
}

body {
  max-width: 1024px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-weight: 500;
  text-transform: capitalize;
  margin-block-start: 0.5em;
  margin-block-end: 0.1em;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 500;
  font-size: 1.0em;
  text-transform: capitalize;
  margin: 0.2em auto 0.5em 0;
}

.center {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--num-grid-columns), 1fr);
  grid-auto-rows: minmax(50px, auto);
  justify-items: stretch;
}

.item {
  border-radius: 3px;
  box-shadow: 2px 2px 10px gray;
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 10px 10px;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.loading {
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type="submit"] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  padding: 0.5em 1.0em 0.5em 1.0em;
  margin-top: 10px;
}

.resource-desc {
  margin: 0;
  font-weight: 500;
}

.desc-url-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1em 0.2em 0.1em 0.2em;
}